<div class="privacidade">
	<h3>Políticas de Privacidade</h3>

	<p>Todas as suas informações pessoais recolhidas, serão usadas para ajudar a tornar a sua visita ao nosso site a mais produtiva e agradável possível.</p>

	<p>A garantia da confidencialidade dos dados pessoais dos utilizadores do nosso site é importante para o <%= CONFIG_NOME_SISTEMA %>. Todas as informações pessoais relativas aos membros ou visitantes que usem o <%= CONFIG_NOME_SISTEMA %> serão tratadas em concordância com a Lei da Proteção de Dados Pessoais de 26 de outubro de 1998 (Lei n.º 67/98).</p>

	<p>A informação pessoal recolhida pode incluir o seu nome, e-mail, número de telefone e/ou telemóvel, morada, data de nascimento e/ou outros.</p>

	<p>O uso do <%= CONFIG_NOME_SISTEMA %> pressupõe a aceitação deste Acordo de Privacidade. A equipe do <%= CONFIG_NOME_SISTEMA %> reserva-se ao direito de alterar esse acordo sem aviso prévio. Desse modo, recomendamos que consulte a nossa política de Privacidade com regularidade de forma a estar sempre atualizado.</p>

	<h4>Cadastro Colaborativo</h4>

	<p>O <%= CONFIG_NOME_SISTEMA %> é um sistema colaborativo, necessitando da contribuição de usuários com informações que beneficiem ciclistas, praticantes e adeptos ao ciclismo no Estado do <%= CONFIG_ESTADO %> (<%= CONFIG_UF %>). Toda informação cadastrada através de Pontos de Interesse e Rotas estará disponível para qualquer usuário visualizar, comentar, credibilizar e compartilhar em redes sociais.</p>

	<p>Ao cadastrar um Ponto ou Rota, você afirma que as informações apresentadas condizem com a realidade.</p>

	<h4>Ligações a Sites de terceiros</h4>

	<p>O <%= CONFIG_NOME_SISTEMA %> possui ligações para outros sites, os quais, a nosso ver, podem conter informações / ferramentas úteis para os nossos visitantes. A nossa política de privacidade não é aplicada a sites de terceiros, pelo que, caso visite outro site a partir do nosso deverá ler a politica de privacidade do mesmo.</p>

	<p>Não nos responsabilizamos pela política de privacidade ou conteúdo presente nesses mesmos sites.</p>

</div>

